BEGIN TRANSACTION;
GO

CREATE TABLE [Providers] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NOT NULL,
    [Cuil] nvarchar(max) NOT NULL,
    [AddressId] uniqueidentifier NOT NULL,
    [Phone] nvarchar(max) NOT NULL,
    [Fax] nvarchar(max) NOT NULL,
    [Email] nvarchar(max) NOT NULL,
    [Website] nvarchar(max) NOT NULL,
    [Observation] nvarchar(max) NOT NULL,
    [TaxConditionId] uniqueidentifier NOT NULL,
    CONSTRAINT [PK_Providers] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Providers_Addresses_AddressId] FOREIGN KEY ([AddressId]) REFERENCES [Addresses] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Providers_TaxConditions_TaxConditionId] FOREIGN KEY ([TaxConditionId]) REFERENCES [TaxConditions] ([Id]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_Providers_AddressId] ON [Providers] ([AddressId]);
GO

CREATE INDEX [IX_Providers_TaxConditionId] ON [Providers] ([TaxConditionId]);
GO

Declare @PolicyId uniqueidentifier = CONVERT(uniqueidentifier, 'B3130B43-22B0-4FCE-9C56-3306820DA036');insert into Policies values(@PolicyId,'ProviderPolicy');Declare @AdminRoleId uniqueidentifier;Select @AdminRoleId = Id FROM Roles Where [Name] = 'Admin';insert into PolicyRole values(@PolicyId,@AdminRoleId);Declare @MasterRoleId uniqueidentifier;Select @MasterRoleId = Id FROM Roles Where [Name] = 'Master';insert into PolicyRole values(@PolicyId,@MasterRoleId);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20240614174156_AddedProviders', N'8.0.1');
GO

COMMIT;
GO


