BEGIN TRANSACTION;
GO

ALTER TABLE [Phones] ADD [NationalId] nvarchar(max) NOT NULL DEFAULT N'';
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20240824100054_ChangedPhoneFormat', N'8.0.7');
GO

COMMIT;
GO


