Build started...
Build succeeded.
info: Microsoft.EntityFrameworkCore.Database.Command[20101]
      Executed DbCommand (10ms) [Parameters=[], CommandType='Text', CommandTimeout='30']
      SELECT [p].[Id], [p].[Name]
      FROM [Policies] AS [p]
BEGIN TRANSACTION;
GO

CREATE TABLE [Addresses] (
    [Id] uniqueidentifier NOT NULL,
    [Country] nvarchar(256) NOT NULL,
    [State] nvarchar(256) NOT NULL,
    [City] nvarchar(256) NOT NULL,
    [Street] nvarchar(256) NOT NULL,
    [PostalCode] nvarchar(256) NOT NULL,
    CONSTRAINT [PK_Addresses] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [Clients] (
    [Id] uniqueidentifier NOT NULL,
    [AddressId] uniqueidentifier NOT NULL,
    [ClientName] nvarchar(200) NOT NULL,
    [Cuil] nvarchar(11) NOT NULL,
    [Email] nvarchar(200) NOT NULL,
    [PhoneNumber] nvarchar(20) NOT NULL,
    [CellphoneNumber] nvarchar(20) NOT NULL,
    [Observation] nvarchar(max) NOT NULL,
    [HasCheckingAccount] bit NOT NULL,
    [IsWholesaler] bit NOT NULL,
    CONSTRAINT [PK_Clients] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Clients_Addresses_AddressId] FOREIGN KEY ([AddressId]) REFERENCES [Addresses] ([Id]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_Clients_AddressId] ON [Clients] ([AddressId]);
GO

Declare @PolicyId uniqueidentifier = CONVERT(uniqueidentifier, 'A64698F4-4482-4D1D-B7DE-41CD0F57CAFD');insert into Policies values(@PolicyId,'ClientPolicy');Declare @AdminRoleId uniqueidentifier;Select @AdminRoleId = Id FROM Roles Where [Name] = 'Admin';insert into PolicyRole values(@PolicyId,@AdminRoleId);Declare @MasterRoleId uniqueidentifier;Select @MasterRoleId = Id FROM Roles Where [Name] = 'Master';insert into PolicyRole values(@PolicyId,@MasterRoleId);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20240408171036_ClientsAndAddress', N'8.0.1');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [TaxConditions] (
    [Id] uniqueidentifier NOT NULL,
    [Description] nvarchar(100) NOT NULL,
    [Type] nvarchar(1) NOT NULL,
    [VAT] bit NOT NULL,
    CONSTRAINT [PK_TaxConditions] PRIMARY KEY ([Id])
);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20240409171717_TaxConditions', N'8.0.1');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [Clients] ADD [TaxConditionId] uniqueidentifier NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000';
GO

CREATE INDEX [IX_Clients_TaxConditionId] ON [Clients] ([TaxConditionId]);
GO

ALTER TABLE [Clients] ADD CONSTRAINT [FK_Clients_TaxConditions_TaxConditionId] FOREIGN KEY ([TaxConditionId]) REFERENCES [TaxConditions] ([Id]) ON DELETE CASCADE;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20240410102211_TaxConditionBoundToClient', N'8.0.1');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

Declare @PolicyId uniqueidentifier = CONVERT(uniqueidentifier, '822E06A6-A8E4-4BB8-BECA-AEB02962ECD9');insert into Policies values(@PolicyId,'MigrationPolicy');Declare @AdminRoleId uniqueidentifier;Select @AdminRoleId = Id FROM Roles Where [Name] = 'Admin';insert into PolicyRole values(@PolicyId,@AdminRoleId);Declare @MasterRoleId uniqueidentifier;Select @MasterRoleId = Id FROM Roles Where [Name] = 'Master';insert into PolicyRole values(@PolicyId,@MasterRoleId);
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [Companies] ADD [Email] nvarchar(max) NOT NULL DEFAULT N'';
GO

Declare @PolicyId uniqueidentifier = CONVERT(uniqueidentifier, '9FF6F667-9A60-4EA9-9ADC-54A2FE18009D');insert into Policies values(@PolicyId,'CompanyPolicy');Declare @AdminRoleId uniqueidentifier;Select @AdminRoleId = Id FROM Roles Where [Name] = 'Admin';insert into PolicyRole values(@PolicyId,@AdminRoleId);
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [CompanyServices] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(max) NOT NULL,
    [CompanyId] uniqueidentifier NULL,
    CONSTRAINT [PK_CompanyServices] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_CompanyServices_Companies_CompanyId] FOREIGN KEY ([CompanyId]) REFERENCES [Companies] ([Id])
);
GO

CREATE INDEX [IX_CompanyServices_CompanyId] ON [CompanyServices] ([CompanyId]);
GO

Insert into CompanyServices values('0cdd0c7e-89cd-4489-b9db-6d507ba387e2','EmailService',NULL)
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [Companies] ADD [Password] nvarchar(max) NOT NULL DEFAULT N'';
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [Employees] ADD [Cuil] nvarchar(11) NOT NULL DEFAULT N'';
GO


COMMIT;
GO


